.wrapper {
    width: 1440px;
    margin: auto;
    text-align: center;
}

.wrapper h2 {

    font-size: 56px;
    color: black;
}

.wrapper p {
    width: 570px;
    margin: auto;
    font-size: 20px;
    line-height: 36px;
}